################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/Kanku/v17/DocumentLayout.json
/.vs/Kanku/v17
